*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

body{
    background: white;

    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    right: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    background: darkblue;
    border: 2px solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.left-path{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    cursor: pointer;
    
}

.right-path{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 20px;
    cursor: pointer;
    
}

.side-bar{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 370px;
    align-items: flex-end;
    
}

.cancel{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    height: 40px;
    margin-bottom: 30px;
}

.cancel a{
    margin-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.div-1{
    width: 100%;
    height: 500px;
    right: 0px;
    left: 0px;
    display: flex;
    
    
}

.div-2{
    display: flex;
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.829);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 6px solid darkblue;

}

.div-3{
    background: darkblue;
    flex-direction: column;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 200px;
    margin-right: 0px;
    border: 2px solid white;
    height: 100%;
    padding-bottom: 60px;
    padding-top: 20px;
    border-top: 0px;

    

    

}

.div-4{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    
  

}

.div-5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 7px;
}

.div-6{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
    margin-top: 20px;
    padding-left: 20px;


}

.div-7{
    display: flex;
    align-items: start;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 500px;
}

.div-8{
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.712);
    position: absolute;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-direction: row;

    
}

.line-1{
    height: 10px;
    width: 100px;
    border: 1px solid white;
    background: lightgreen;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;



}

.line-2{
    height: 10px;
    width: 100px;
    border: 1px solid white;
    background: darkblue;
    border-left: 0px;
    border-radius: 0px 10px 10px 0px;



}

.icon-1{
    width: 60px;
    border: 2px solid white;
    height: 60px;
    border-radius: 60px;
}

.icon-2{
    width: 70px;
}


.icon-4{
    width: 10px;
    margin-left: 10px;
}

.png-1{
    width: 100%;
    height: 500px;
}

.png-2{
    width: 100%;
    height: 100%;
}



.text-1{
    font-size: 15px;
    font-weight: bolder;
    padding-left: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

.text-2{
    color: white;
    font-weight: bold;
    font-size: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    
}

.text-3{
    color: white;
    font-weight: bold;
    font-size: 60px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 15px;
}

.text-4{
    color: white;
    padding-top: 5;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgreen;
 

}


.text-5{
    color: white;
    padding-top: 5;
    padding-bottom: 10px;
    border-bottom: 2px solid red;
 

}

.text-6{
    color: white;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 21px;
}

.text-7{
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
    border-bottom: 2px solid lightgreen;
    padding-bottom: 20px;
    


}




.span-1{
    color: lightgreen;
    text-decoration: underline solid white;
}

.span-2{
    color: lightgreen;
    border-bottom: 3px solid white;
}

.span-3{
    color: lightgreen;
    font-size: 20px;
}



.btn-1{
    padding: 7px 20px;
    color: white;
    background: lightgreen;
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    cursor: pointer;

}

.btn-1:hover{
 opacity: 95%;
}

.btn-1:active{
  opacity: 90%;
}

.btn-2{
    padding: 7px 20px;
    color: lightgreen;
    background: white;
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    cursor: pointer;

}

.btn-2:hover{
    opacity: 95%;
   }
   
.btn-2:active{
     opacity: 90%;
   }

.btn-3{
    padding: 7px 20px;
    border-radius: 2px;
    border: none;
    display: none;
    cursor: pointer;
    font-size: 17px;

}

.btn-3:hover{
    opacity: 95%;
   }
   
.btn-3:active{
     opacity: 90%;
   }

    .btn-4{
    padding: 7px 20px;
    color: white;
    background: lightgreen;
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    cursor: pointer;

}

.btn-4:hover{
 opacity: 95%;
}

.btn-4:active{
  opacity: 90%;
}

.btn-4-1{
    padding: 7px 20px;
    color: white;
    background: lightgreen;
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    font-size: 19px;

}

.btn-4:hover{
 opacity: 95%;
}

.btn-4:active{
  opacity: 90%;
}


.btn-5{
    padding: 7px 20px;
    color: lightgreen;
    background: white;
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 20px;

}

.btn-5:hover{
    opacity: 95%;
   }
   
.btn-5:active{
     opacity: 90%;
   
    }

    
    .btn-5-1:hover{
        opacity: 95%;
       }
       
    .btn-5-1:active{
         opacity: 90%;
       }




@media screen and (max-width: 705px)
{
.header{
    height: 110px;
    right: 0px;
    left: 0px;

}

.left-path{
    padding-left: 10px;
    
}

.div-8{
    flex-direction: column;
    align-items: start;
    justify-content: start;

}


.text-1{
    font-size: 20px;
    padding-left: 10px;
    
    
}

.text-2{
    font-size: 40px;
}

.text-7{
    font-size: 20px;
}

.text-8{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border: 2px solid lightgreen;
}

.text-9{
    font-size: 15px;
    padding-top: 20px;
    padding-left: 0px;
}

.text-11{
    font-size: 20px;
}

.text-12{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.text-13{
    color: white;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
     font-weight: bold;
}

.text-14{
    margin-top: 10px;
    color: rgb(51, 51, 51);
    font-size: 18.5px;
    margin-left: 10px;
    font-weight: bold;

}



.btn-1{
    display: none;
}

.btn-2{
    display: none;
}

.btn-3{
    display: flex;
}

.icon-3{
    width: 40px;
}



.btn-6{
    font-size: 17px;
}

.btn-7{
    width: 100%;
    font-size: 20px;
}

.btn-8{
    width: 100%;
    font-size: 20px;
}


.btn-5-1{
    padding: 7px 20px;
    display: flex;
    color: lightgreen;
    background: white;
    border-radius: 2px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 19px;

}



}
